.bouton-general{
    margin-top: 20px;
    width: 175px;
    height: 28px;
    background-color: rgb(200, 220, 255);
    border: 0px;
    cursor: pointer;
}

.bouton-general:hover{
    background-color: rgb(70, 87, 116);
    color: rgb(255, 255, 255);
    transition: .5s;
}