@font-face {
    font-family: "Raleway";
    src: url("font/Raleway/Raleway-VariableFont_wght.ttf"), url("font/Raleway/Raleway-Italic-VariableFont_wght.ttf");
  }

body, h1, h2, h3, p, figure, img{
    margin : 0px;
}

ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

html{
    font-family: Raleway;
    font-weight: bolder;
}

body{
    background: no-repeat linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(36, 39, 61) 50%, rgb(0, 0, 0) 100%);
}

#suggestionsEtDarkMode{
    display: flex;
    justify-content: center;
    align-items: center;
}

#suggestions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 0px;
}

#suggestions li{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.7em;
}

#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8{
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, p, li{
    color: white;
}

h1{
    margin-bottom: 10px;
    margin-top: 10px;
}

h2{
    margin-bottom: 15px;
    color: white;
    font-size: 0.9em;
}

h3{
    font-size: 0.9em;
    border-bottom: 2px solid #F7DC6F;
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
}

#typeOfCloud{
    margin-bottom: 10px;
    border: 2px solid rgb(177, 177, 177);
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

#search{
    display: flex;
    justify-content: center;
}

#GPS{
    margin-left: 5px;
}

header, main, footer{
    text-align: center;
}

li{
    list-style : none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
}

.container_weather{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(34, 31, 31, 0.5);
    border-radius: 10px;
    padding: 15px;
    width: 25%;
    min-width: 300px;
    font-size: 1.1em;
}

.container_legend{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(34, 31, 31, 0.5);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 330px;
    font-size: 1em;
    margin: auto;
}

#line_legend p{
    display: inline;
    padding-right: 5px;
    flex-wrap: wrap;
    color: white;
    font-size: 0.6em;
}

#line_legend p i{
    margin-right: 5px;
}

#choice{
    width: 120px;
    height: 19px;
    border-radius: 5px;
}

.favContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.favContainer li, .favContainer p{
    margin-right: 10px;
}

.favContainer a{
    text-decoration: none;
    margin-top: 10px;
}

/* FOOTER */

#position{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 0.7em;
}

.dataInfos{
    margin-top: 10px;
    color: black;
    text-decoration: none;
    background-color: blanchedalmond;
    width: 210px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.dataInfos:hover{
    transform: scale(1.025);
    transition: 0.5s;
    background-color: rgb(54, 51, 45);
    color: rgb(255, 255, 255);
}


/* LEGEND COLOR */

#TB{
    color: #196F3D;
}

#B{
    color: #2ECC71;
}

#AB{
    color: #F7DC6F;
}

#MO{
    color: #EB984E;
}

#MA{
    color: #BA4A00;
}

#TM{
    color: #E74C3C;
}

#E{
    color: #8E44AD;
}

/* oups */

.oups{
    color: red;
    background-color: rgb(255, 230, 162);
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}